@media (min-width: 768px) {
    /** MAIN->PRODUCTS GRID**/
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }
    
    /** SHIRT VISUALIZATION **/
    .vis--nodetshirt {
        grid-row: 5 / 6;
        grid-column: 2 / 4;
    }

    /** ABOUT US SECTION **/
    .us {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }

    .us__photo {
        grid-column: 2 / 3;
    }

    .us__info {
        margin-top: 0;
    }

    .reasons {
        display: flex;
        flex-direction: row;
    }

    /** PRODUCT SECTION -> SHIRT**/
    .shirt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        margin: 0 10rem;
    }

    /** PRODUCT SECTION -> FORM AREA **/
    .form__submit {
        display: block;
        margin: 0 auto;
        width: 20rem;
    }
}

@media (min-width: 1080px) {
    /** GLOBAL CONTAINER **/
    .container {
        max-width: 140rem;
    }
}